<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<base th:href="@{/}">
<title>Svi korisnici</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/jezici.js"> </script>
</head>
<body>
	<div>
		<span th:text="${#locale}"></span>
		<span th:text="#{lang.change}"></span>:
		<select id="locales" name="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.en}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>	
	<div th:if="${session.admin != null and session.clan == null}">
		<p th:text="#{nav.admin}">admin</p>
		<p><a th:href="@{PrijavaNaSistem/Logout}">Logout</a></p>
				<div>
			<nav>
				<ul>
					<li>Logo</li>
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:text="#{nav.svojiPodaci}" th:href="@{PrikazSvojiPodataka/korisnik}">Prikazi Svoje Podatke</a></li>
					<li><a th:text="#{nav.sala}" th:href="@{AdminSale/adminSale}">Sala</a></li>
					<li><a th:text="#{nav.pregledKorisnika}" th:href="@{AdminKorisnici/pregledSvihKorisnika}">Pregled Korisnika</a></li>
					<li><a th:text="#{nav.dodajTrening}" th:href="@{DodavanjeTreninga/dodavanjeTreninga}">Dodaj Trening</a></li>
					<li><a th:text="#{nav.clanskaKartica}" th:href="@{ClanskaKartica/prikazStranice}">Clanske Kartice</a></li>
					<li><a th:text="#{nav.komentari}" th:href="@{Admin/Komentari}">Komentari</a></li>
					<li><a th:text="#{nav.specijalniDatum}" th:href="@{SpecijalniDatum/prikazStranice}">Specijalni datum</a></li>
					<li><a th:text="#{nav.izvestaji}" th:href="@{Izvestaji/prikazStranice}">Izvestaji</a></li>
				</ul>
			</nav>
		</div>
	</div>
	
	<form th:action="@{pretragaModela/pretragaKorisnika}" method="get">
		<table>
			<caption th:text="#{sviKorisnici.pretragaKor}"><b>Pretraga Korisnika</b></caption>
			<tr>
				<td> <br/>
					<label for="korisnickoIme" th:text="#{sviKorisnici.korIme}">Korisnicko ime</label>
					<input type="text" name="korisnickoIme"></input>
				</td>
				<td> <br />
					<label th:text="#{sviKorisnici.tipKor}">Tip Korisnika</label>
					<select name="tip">
						<option></option>
    					<option th:each="tip : ${T(com.ftn.teretana.enums.TipKorisnika).values()}"
            			th:value="${tip}"
            			th:text="${tip}">
    					</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><br /><label th:text="#{sviKorisnici.sortirajPo}">Sortiraj Po</label>
					<select name="sortiraj">
						<option></option>
    					<option th:text="tipu" th:value="tipu" th:selected="${#tipu}"></option>
    					<option th:text="korisnickomImenu" th:value="korisnickomImenu" th:selected="${#korisnickomImenu}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td><br />Order
					<select name="ascDesc">
						<option></option>
						<option th:text="rastuce" th:value="rastuce" th:selected="${#rastuce}"></option>
    					<option th:text="opadajuce" th:value="opadajuce" th:selected="${#opadajuce}"></option>
					</select>
				</td>
			</tr>
		</table>
		<br />
		<input type="submit" value="Pretrazi">
		<a th:href="@{/AdminKorisnici/pregledSvihKorisnika}">restart</a>
	</form>
	<br /> <br />
	<form>
		<table border="1">
			<tr>
				<td th:text="#{sviKorisnici.korIme}">Korisnicko ime</td>
				<td th:text="#{sviKorisnici.datumReg}">Datum Registracije</td>
				<td th:text="#{sviKorisnici.tipKor}">Tip korisnika</td>
				<td th:text="#{sviKorisnici.blokiraj}">Blokiraj</td>
				<td th:text="#{sviKorisnici.odblokiraj}">Odblokiraj</td>
			</tr>
			<tr th:each="kor : ${korisniciLista}">
				<td><a th:text="${kor.korisnickoIme}" th:href="|AdminKorisnici/jedanKorisnik?id=${kor.id}|"></a></td>
				<td th:text="${kor.datumRegistracije}"></td>
				<td th:text="${kor.tipKorisnika}"></td>
				<td><a th:text="#{sviKorisnici.blokiraj}" th:href="|AdminKorisnici/blokiraj?id=${kor.id}|">Blokiraj</a></td> <!-- ako je tip korisnika clan i ako nije blokiran -->
				<td><a th:text="#{sviKorisnici.odblokiraj}" th:href="|AdminKorisnici/odblokiraj?id=${kor.id}|">Odblokiraj</a></td> <!-- ako je tip korisnika clan i ako je blokiran -->
			</tr>
		</table>
	</form>
	<p th:text="${poruka}"></p>
</body>
</html>