<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Komentari</title>
</head>
<base th:href="@{/}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/jezici.js"> </script>
<script src="js/komentari.js"> </script>
<body>

	<div>
		<span th:text="${#locale}"></span>
		<span th:text="#{lang.change}"></span>:
		<select id="locales" name="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.en}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>
	
	<div th:if="${session.admin != null and session.clan == null}">
		<p th:text="#{nav.admin}">admin</p>
		<p><a th:href="@{PrijavaNaSistem/Logout}">Logout</a></p>
				<div>
			<nav>
				<ul>
					<li>Logo</li>
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:text="#{nav.svojiPodaci}" th:href="@{PrikazSvojiPodataka/korisnik}">Prikazi Svoje Podatke</a></li>
					<li><a th:text="#{nav.sala}" th:href="@{AdminSale/adminSale}">Sala</a></li>
					<li><a th:text="#{nav.pregledKorisnika}" th:href="@{AdminKorisnici/pregledSvihKorisnika}">Pregled Korisnika</a></li>
					<li><a th:text="#{nav.dodajTrening}" th:href="@{DodavanjeTreninga/dodavanjeTreninga}">Dodaj Trening</a></li>
					<li><a th:text="#{nav.clanskaKartica}" th:href="@{ClanskaKartica/prikazStranice}">Clanske Kartice</a></li>
					<li><a th:text="#{nav.komentari}" th:href="@{Admin/Komentari}">Komentari</a></li>
					<li><a th:text="#{nav.specijalniDatum}" th:href="@{SpecijalniDatum/prikazStranice}">Specijalni datum</a></li>
					<li><a th:text="#{nav.izvestaji}" th:href="@{Izvestaji/prikazStranice}">Izvestaji</a></li>
				</ul>
			</nav>
		</div>
	</div>
	
	<h3 th:text="#{komentari.naslov}">Komentari</h3>
	
	<div>
		<form>
			<table id="komentari" border="1">
				
				<tr>
					<td th:text="#{komentari.tekst}">Tekst</td>
					<td th:text="#{komentari.ocena}">Ocena</td>
					<td th:text="#{komentari.datumPostavljanja}">Datum Postavljanja</td>
					<td th:text="#{komentari.clan}">Clan</td>
					<td th:text="#{komentari.trening}">Trening</td>
					<td th:text="#{komentari.odbij}">Odbij</td>
					<td th:text="#{komentari.odobri}">Odobri</td>
				</tr>
				
			</table>
		</form>
	</div>
	
</body>
</html>